WORDPRESS_DB_HOST=mariadb:3306
WORDPRESS_DB_NAME=greta_learning
WORDPRESS_DB_USER=greta
WORDPRESS_DB_PASSWORD=change-me
WORDPRESS_TABLE_PREFIX=greta_
WORDPRESS_DEBUG=0
WP_HOME=http://localhost:8080
WP_SITEURL=http://localhost:8080
